.grid-container{
    display: grid;
    grid-template-columns: repeat (4, 25%);
    grid-gap: .5rem;
    text-align: center;
    padding: 1rem;
    height: 10%;
}

.body-input{
    width: 30%;
    height: 50%;
    justify-content: center;
}